/* Importando a fonte Poppins do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Estilo para o corpo da página */
body {
    font-family: 'Poppins', sans-serif; 
    background-color:#483D8B; 
    margin: 0;
    padding-bottom: 50px;
    color: white;
     

}
/* Cabeçalho */
header {
    background-color: #000000;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem; 
    font-weight: 600; 
}

header p {
    font-size: 1.2rem;
    margin: 10px 0;
}

/* Menu de navegação */
header nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;}

header nav ul li {
    display: inline-block;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem; 
    font-weight: 500; 
    transition: color 0.3s ease;
}



/* Seções */
section {
    padding: 40px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both;
    
}


/* Sobre mim - Foto de perfil */
#foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover; 
    margin-bottom: 20px;
    border: 3px solid #483D8B;
    -webkit-animation: scale-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
    
}


/* Links sociais */
#social-links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

#social-links a:hover {
    color: #483D8B; 
}

/* Habilidades - Estilo de lista */
#skills p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Formação Acadêmica - Lista */
#educacao li,
#experiencias li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    list-style: none;
}

#ferramentas li{
    font-size: 1.2rem;
    margin-bottom: 10px;
    list-style: none;
}

#linguagem-programacao li{
    font-size: 1.2rem;
    margin-bottom: 10px;
    list-style: none;
}

/* Footer */
footer {
    background-color: #483D8B;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsividade - Mobile First */
@media (max-width: 768px) {
    
    
    
    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0; 
    }

    header nav ul li {
        margin: 10px 0;
    }

    .container {
        width: 90%; 
    }

    #foto {
        width: 120px;
        height: 120px;
    }

    #skills p,
    #educacao li,
    #experiencias li {
        font-size: 1.1rem;
    }

    footer {
        padding: 20px 0;
    }
}




 @keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
 @-webkit-keyframes scale-in-tl{0%{-webkit-transform:scale(0);transform:scale(0);-webkit-transform-origin:0 0;transform-origin:0 0;opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:0 0;transform-origin:0 0;opacity:1}}@keyframes scale-in-tl{0%{-webkit-transform:scale(0);transform:scale(0);-webkit-transform-origin:0 0;transform-origin:0 0;opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:0 0;transform-origin:0 0;opacity:1}}