@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo da página */
body {
    font-family: 'Poppins', sans-serif; 
    background-color:#483D8B;  
    color: #f4f4f4;  
    line-height: 1.6;  
    padding-bottom: 50px;  
}

/* Cabeçalho do site */
header {
    background-color: #483D8B;  
    color: white;
    padding: 1.5rem; 
    text-align: center;
}

header h1 {
    font-size: 2.5rem;  
    margin-bottom: 0.5rem;
    font-weight: 700; 
}

header p {
    font-size: 1.2rem;
    font-weight: 300;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
}

header nav ul li {
    display: inline;
    margin: 0 1.5rem; 
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem; 
    font-weight: 500; 
    transition: color 0.3s ease;
}



/* Seção de Habilidades */
#habilidades {
    padding: 3rem;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both
}

#habilidades h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #f4f4f4; /* Texto mais suave */
    font-weight: 700; /* Título das habilidades */
}

#habilidades-lista {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsivo com colunas ajustáveis */
    gap: 2rem;
    margin-top: 2rem;
}

#habilidades-lista p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-top: 1rem;
}


/* Rodapé */
footer {
    background-color: #483D8B;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
/* Estilos para os itens de habilidades */
.habilidade-item {
    background-color: #fff;
    padding: 2rem; 
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease-in-out;
    text-align: center;
    border: 1px solid #ddd;
}

.habilidade-item:hover {
    transform: translateY(-15px); 
}

.habilidade-item img {
    width: 60px; 
    height: 60px;
    margin-bottom: 15px;
}

.habilidade-item h3 {
    font-size: 1.4rem;
    color: #483D8B; 
    margin-bottom: 10px;
    font-weight: 600; 
}

.habilidade-item p {
    font-size: 1.1rem;
    color: #333; 
}

/* Estilo para texto adicional */
section p {
    font-size: 1.15rem;  
    color: #f4f4f4;  
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8; 
}

@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}




  