@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Estilos gerais */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #483D8B; 
    margin: 0;
    padding: 0;
    color: white; 
}

/* Cabeçalho */
header {
    background-color: #483D8B; 
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 4.5rem;
    margin: 0;
}

header p {
    font-size: 1.2rem;
    margin: 10px 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

header nav ul li {
    display:inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem; 
    font-weight: 500; 
    transition: color 0.3s ease;
}



/* Seção sobre mim */
#sobre-mim {
    padding: 60px 0;
    text-align: center;
}

#sobre-mim h2 {
    font-size: 2rem;
    color: #ffffff; 
    margin-bottom: 30px;
}

#sobre-mim .container {
    width: 80%;
    margin: 0 auto;
    animation:tracking-in-expand .7s cubic-bezier(.215,.61,.355,1.000) both
}

#sobre-mim .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sobre-mim .col-md-4 {
    flex: 1;
    text-align: center;
}

#foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 5px solid #270835;
    animation:heartbeat 1.5s ease-in-out infinite both
}

#sobre-mim .col-md-8 {
    flex: 2;
    padding: 0 20px;
    text-align: left;
}

#sobre-mim .col-md-8 p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #ffffff; 
}

/* Seção de redes sociais */
#social-links {
    margin-top: 30px;
}

#social-links a {
    margin: 0 15px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3rem;
}

#social-links a:hover {
    color:#483D8B; }

/* Rodapé */
footer {
    background-color: #483D8B;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsividade - Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    #sobre-mim .container {
        width: 90%; 
    }

    #foto {
        width: 150px;
        height: 150px;
    }

    #sobre-mim h2 {
        font-size: 1.8rem;
    }

    #sobre-mim .col-md-8 p {
        font-size: 1rem;
    }

    #social-links a {
        font-size: 1.1rem;
        margin: 0 10px;
    }

    header nav ul li {
        margin: 10px 0; 
    }
}


@keyframes tracking-in-expand{0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}
@keyframes heartbeat{from{transform:scale(1);transform-origin:center center;animation-timing-function:ease-out}10%{transform:scale(.91);animation-timing-function:ease-in}17%{transform:scale(.98);animation-timing-function:ease-out}33%{transform:scale(.87);animation-timing-function:ease-in}45%{transform:scale(1);animation-timing-function:ease-out}}